* {
    margin: 0;
    padding: 0
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

div {
    box-sizing: border-box;
}

.bg {
    position: fixed;
    top: -105vh;
    left: 0;
    width: 100vw;
    height: 200vh;

    /* background: radial-gradient(ellipse at top, rgb(142, 143, 162), transparent) */
    background-image: radial-gradient(circle closest-side, #FF5C17, rgba(255, 255, 255, 0));
    display: none;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #E2E2E2;
    padding: 12px 8px;
    font-size: 22px;
    color: #8F8F8F;
}

#commits {
    height: 200px;
    overflow: auto;
    padding-top: 20px;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    padding-bottom: 0;
}

#commits li {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    color: #6F6F6F;
}

#commits li.active {
    background-color: #F3F3F3;
    border-radius: 8px;
    ;
    color: #171717;
}

#commits li:focus {
    outline: none;
}


.flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.commit-text {
    /* width: 100%; */
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.status {
    font-size: 32px;
    line-height: 1;
}

main {
    position: relative;
    width: 850px;
    box-shadow: 0 16px 70px rgba(0, 0, 0, .2);
    padding: 8px 16px 16px;
    ;
    border-radius: 10px;
    background-color: #fff;
    margin-left: -27px;
}

input {
    outline: none;
    /* Entfernt die Standard-Umrandung des Eingabefeldes */
    border: none;
    /* Entfernt den Standard-Rand des Eingabefeldes */
    background-color: transparent;
    /* Optional: Hintergrund transparent machen */
    color: #8F8F8F;
}

input:focus {
    outline: none;
    /* Keine Umrandung, wenn das Eingabefeld fokussiert ist */
    border: none;
    /* Kein Rand, wenn das Eingabefeld fokussiert ist */
    background-color: transparent;
    /* Optional: Hintergrund transparent lassen */
    caret-color: black;
    /* Farbe des Cursors setzen */
    color: #8F8F8F;
}



.btn {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}




.active .btn {
    opacity: 1;
    color: #6A6A6A;
    background-color: #E2E2E2;
    border-radius: 2px;
    padding: 3px 4px;
    margin-left: 4px;
}

.status.head {
    color: rgb(0, 255, 0);
}

img#preview {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.preview {
    width: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px 0px;
}

.slider-container {
    width: 20%;
    transform: translateX(200%);
    height: 100%;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
    display: flex;
    transition: transform 0.5s ease;
    gap: 25px;
    height: 100%;
}

img.slide {
    object-fit: contain;
    filter: drop-shadow(0 16px 70px rgba(0, 0, 0, .2));
}



.slide {
    min-width: 100%;
    transition: all 0.5s ease;
    opacity: 0.5;
    transform-origin: center;
    transform: scale(0.7);

}

.slide.active {
    opacity: 1;
    transform: scale(0.9);

}

.layout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 25px;
    width: 830px;
    background-color: transparent;
    border-radius: 16px;
    margin: 20px auto;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(25px);
}
